<h1><%= @machine.location %> Vending Machine</h1>
<ul>
<% @machine.snacks.each do |snack| %>
<li><%= snack.name %>: <%= snack.price %></li>
<% end %>
</ul>

<h3>Average Price: $<%= machine = @machine.average_price %></h3>
